/** App content **/
.tc-app-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 1rem;
    overflow: hidden;
}


.tc-app-container:before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../asset/background.jpeg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

/** Header content **/
.tc-app-container .header {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

/** Search component **/
.tc-app-container input[type='text'] {
    padding: .8rem 2.7rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.7);
    background: rgba(255,255,255, 0.05);
    color: #f8f8f8;
}

@media only screen and (max-width: 600px){
    .tc-app-container input[type='text'] {
        padding: .8rem 1.2rem;
    }
}
.tc-app-container input:focus {
    outline: none;
    border: 1px solid rgba(255,255,255);
}
::placeholder {
    color: #f8f8f8;
}

/** app body component **/
.body {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 2%;
    display: flex;
    flex-flow: column;
    gap: 2rem
}
.tc-app-container .top-content {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.tc-app-container .location p {
    margin: 1rem auto 0.5rem auto;
    font-size: 2.2rem;
    font-weight: 200;
}
.tc-app-container .location h2 {
    font-weight: normal;
    margin-bottom: 1.2rem;
}
.tc-app-container .temp p {
    display: flex;
    justify-content: center;
    gap: 1.2rem
}
.tc-app-container .desc {
    font-size: 1.6rem;
}
.tc-app-container .icon {
    position: relative;
    scale: 1.4;
}

.tc-app-container .bottom-card {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
    font-weight: 400 !important;
}

/** favourite **/
.tc-app-container .favourite {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

/** dropdown **/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #00000050;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}
.dropdown-content h6 {
    padding: 0.4rem 0.8rem;
    background: #00000060;
    color: #ffffff90
}

.dropdown-content li {
    padding: 0.8rem;
    text-align: left;
    list-style: none;
}
.dropdown-content li span {
    color: orangered;
    font-weight: bolder;
    padding-right: 0.7rem;
}
.dropdown-content li:hover {
    background-color: #00000070;
    color: white;
}
.dropdown .dropdown-content {
    display: block;
}


/** tabs **/
.tabs {
    margin: 0 auto;
    padding-top: 30px;
    width: 300px;
}
.tab-list {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 0;
}
button {
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #ffffff20;
    cursor: pointer;
    outline: none;
    color: #fff;
}

.tab-list .right-border {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-list .left-border {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}


button.active {
    background-color: #ffffff10;
    border: 1px solid #ffffff20;
    color: white;
}
